<div class="container">
    <form *ngIf="!card" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Question</mat-label>
        <input matInput type="text" formControlName="question" name="question" required>
        <mat-error>{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" style="display:flex" *ngFor="let answer of answers,let i = index">
        <mat-label>Answer #{{i+1}}</mat-label>
        <input matInput (keyup)="onAnswerChange(input.value, i, $event)" #input >
    </mat-form-field>
    <button [disabled]="!form.valid || answers.length<2" (click)="onSave()">Save card</button>
</form>
<div *ngIf="card">
    <span>Question:{{card.question}}</span>
    <span *ngFor="let answer of card.answers">Answers:{{answer.text}}</span>
</div>
</div>