div{ 
    display:flex; 
}

.container{
    flex-direction:row; 
    justify-content:center;
}

.container .list{
    flex-direction:column;
}
.container .list .type{
    display:flex; flex-direction:row ;
    
}
.container .list .type div{
    padding:5%;
}